@font-face
	{
    font-family: "Ubuntu-R";
    src: url("fonts/Ubuntu-R.ttf");
    }

@font-face
	{
    font-family: "Ubuntu-B";
    src: url("fonts/Ubuntu-B.ttf");
    }

@font-face
	{
    font-family: "Ubuntu-RI";
    src: url("fonts/Ubuntu-RI.ttf");
    }

html,body
	{
	margin:0;
	padding:0;
	width:100vw;
	overflow-x:hidden;
	}

span.hidden
	{
	visibility:hidden;
	}

@media (min-width:320px)
	{
	html,body
		{
		background:url("mobile_ui/wall-pic.jpg") no-repeat center;
		background-size:auto 100vh;
		}
	}
@media (min-width:1024px)
	{
	html,body
		{
		background:url("desktop_ui/wall-pic.jpg") no-repeat center;
		background-size:100vw auto;
		}
	}
	
a.github:link, a.github:visited
	{
	text-decoration:none;
	color:#4d7b9d;
	outline : none;
	}

a.github:hover, a.github:active
	{
	text-decoration:none;
	color:#f36f7e;
	outline : none;
	}

.hidden
	{
	visibility:hidden;
	}

#banner
	{
	margin:0;
	padding:0;
	overflow:hidden;
	position:absolute;
	top:0;
	left:0;
	box-shadow: 0px 0px 12px #000000;
	}

@media (min-width:320px)
	{
	#banner
		{
		background:url("mobile_ui/banner.png") repeat-x center;
		background-size: 130vw auto;
		width:100vw;
		height:20vh;
		}
	}
@media (min-width:1024px)
	{
	#banner
		{
		background:url("desktop_ui/banner.png") repeat-x center;
		background-size: 100vw auto;
		width:100vw;
		height:20vh;
		}
	}

#menu
	{
	margin:0;
	padding:0;
	overflow:hidden;
	position:absolute;
	top:20vh;
	left:0;
	width:100vw;
	height:5vh;
	border-bottom: 0.25vh solid rgba(0,0,0,0.5);
	}

@media (min-width:320px)
	{
	#menu
		{
		height:3vh;
		}
		
	p.menu
		{
		font-family: "Ubuntu-R";
		color:#000000;
		font-size:1vh;
		text-align:center;
		}
	}
@media (min-width:1024px)
	{
	#menu
		{
		height:5.5vh;
		}
		
	p.menu
		{
		font-family: "Ubuntu-R";
		color:#000000;
		font-size:2vh;
		text-align:center;
		}
	}

#contenu
	{
	margin:0;
	padding:0;
	overflow:hidden;
	position:absolute;
	left:2.5vw;
	width:95vw;
	}

@media (min-width:320px)
	{	
	#contenu
		{
		top:22.75vh;
		}

	p.contenu_titre
		{
		font-family: "Ubuntu-B";
		color:#000000;
		font-size:2vh;
		text-align:center;
		}

	p.contenu_texte_titre
		{
		font-family: "Ubuntu-B";
		color:#000000;
		font-size:1vh;
		text-align:justify;
		}
		
	p.contenu_texte
		{
		font-family: "Ubuntu-R";
		color:#000000;
		font-size:1vh;
		text-align:justify;
		}

	p.contenu_texte_retour
		{
		font-family: "Ubuntu-R";
		color:#000000;
		font-size:1vh;
		text-align:right;
		}

	p.contenu_telecharger_texte
		{
		font-family: "Ubuntu-R";
		color:#000000;
		font-size:1vh;
		text-align:center;
		}
	
	p.contenu_telecharger_bouton
		{
		font-family: "Ubuntu-B";
		color:#000000;
		font-size:1vh;
		text-align:center;
		}

	p.contenu_telecharger_bouton
		{
		font-family: "Ubuntu-B";
		color:#000000;
		font-size:2vh;
		text-align:center;
		}

	p.contenu_telecharger_bouton_desc
		{
		font-family: "Ubuntu-RI";
		color:#000000;
		font-size:1vh;
		text-align:center;
		margin-top:-1vh;
		}

	p.contenu_images
		{
		text-align:center;
		}
	
	img.screenshot
		{
		width:100vw;
		height:auto;
		}

	}
@media (min-width:1024px)
	{
	#contenu
		{
		top:25vh;
		}
	
	p.contenu_titre
		{
		font-family: "Ubuntu-B";
		color:#000000;
		font-size:3vh;
		text-align:center;
		}

	p.contenu_texte_titre
		{
		font-family: "Ubuntu-B";
		color:#000000;
		font-size:2vh;
		text-align:justify;
		}
		
	p.contenu_texte
		{
		font-family: "Ubuntu-R";
		color:#000000;
		font-size:2vh;
		text-align:justify;
		}
	
	p.contenu_texte_retour
		{
		font-family: "Ubuntu-R";
		color:#000000;
		font-size:2vh;
		text-align:right;
		}

	p.contenu_telecharger_texte
		{
		font-family: "Ubuntu-R";
		color:#000000;
		font-size:2vh;
		text-align:center;
		}

	p.contenu_telecharger_bouton
		{
		font-family: "Ubuntu-B";
		color:#000000;
		font-size:2vh;
		text-align:center;
		}

	p.contenu_telecharger_bouton_desc
		{
		font-family: "Ubuntu-RI";
		color:#000000;
		font-size:2vh;
		text-align:center;
		margin-top:-1.5vh;
		}

	p.contenu_images
		{
		text-align:center;
		}
	
	img.screenshot
		{
		width:47vw;
		height:auto;
		}
	}
